p {
    width: 300px;
    border: 1px solid red;
}

.nama {
    font-size: 20px;
    color: brown;
}

#age{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}

.submit-btn:hover {
    background-color: greenyellow;
    font-size: 30px;
}

.submit-btn:active{
    background-color: white;
    font-size: 50px;
}